li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.container {
    width: 80%;
    background-color: #ff5959;
    color: #facf5a
}

body{
    background-color: #facf5a
}

.eatTitle{
    color: #ffeb3b;
}
.burgerPic{
    margin: auto;
}
h1{
    margin: 1.5rem 0 1.5rem 0;
}

.addBurger{
    background-color: #085f63;
}